body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.tabs {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.tabs::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.tab-button {
  min-width: 100px; /* Установим минимальную ширину для всех кнопок */
  text-align: center;
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active-tab {
  background-color: #0056b3;
  color: white;
}

.add-tab {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-tab-button {
  background-color: #0056b3;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.add-tab-button:hover {
  background-color: #003f7f;
}

#new-tab-name {
  display: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  outline: none;
  width: 150px;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.log-display {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.tab-rename-input {
  width: 100%; /* Поле ввода занимает ширину кнопки */
  box-sizing: border-box;
  font-size: inherit;
  padding: 0;
  border: none; /* Убираем рамку */
  background: transparent; /* Прозрачный фон */
  text-align: center;
  color: inherit; /* Наследует цвет текста кнопки */
  outline: none; /* Убираем обводку при фокусе */
  cursor: text; /* Указатель текста для понятности */
}


.reversed {
  flex-direction: column-reverse;
}

.success {
  color: green;
}

.error {
  color: red;
}

.info {
  color: blue;
}
